<!DOCTYPE html>
<html>
    <head>
        <title>About - <%=forumName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <div class="header-container">
            <h1 class="main-title"><a href="/"><%=forumName%></a></h1>
            <h1 class="sub-title"><a href="/about">About</a></h1>
            <% if (user) { %>
                <h1 class="sub-title"><a href="/logout">Logout</a></h1>
            <% } else { %>
                <h1 class="sub-title"><a href="/login">Login</a></h1>
            <% } %>
            <h1 class="sub-title"><a href="/users">Users</a></h1>
            <h1 class="sub-title"><a href="/search">Search</a></h1>
            <h1 class="sub-title"><a href="/addpost">Add Post</a></h1>
            <h1 class="sub-title"><a href="/topics">Topics</a></h1>
        </div>
    </body>
</html>