<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to <%=forumName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Welcome to <%=forumName%></h1>
    </body>
</html>