<!DOCTYPE html>
<html>
    <head>
        <title>Search - <%=forumName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <div class="header-container">
            <h1 class="main-title"><a href="/"><%=forumName%></a></h1>
            <h1 class="sub-title"><a href="/about">About</a></h1>
            <h1 class="sub-title"><a href="/login">Login</a></h1>
            <h1 class="sub-title"><a href="/users">Login</a></h1>
            <h1 class="sub-title"><a href="/search">Search</a></h1>
        </div>
    </body>
</html>