<!DOCTYPE html>
<html>
    <head>
        <title>Users - <%=forumName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <div class="header-container">
            <h1 class="main-title"><a href="/"><%=forumName%></a></h1>
            <h1 class="sub-title"><a href="/about">About</a></h1>
            <h1 class="sub-title"><a href="/login">Login</a></h1>
            <h1 class="sub-title"><a href="/users">Users</a></h1>
            <h1 class="sub-title"><a href="/search">Search</a></h1>
        </div>

        <div class="login-container">    
            <h1 class="login-title">Users</h1>
            <ul>
                <% for(var i=0; i<users.length; i++) {%>
                    <li><%= users[i].username %></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>