/* Header - Div containing the title and subtitle */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.main-title, .sub-title {
    display: inline-block;
}

.main-title, .sub-title {
    margin-right: 10px;
}

/* h1 - main-title */

.main-title a, .sub-title a {
    text-decoration: none;
    color: inherit;
}

.main-title a:visited, .sub-title a:visited {
    color: inherit;
}

.main-title {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
}

/* Darken link on hover */
.main-title a:hover {
    color: darkred;
}

/* h1 - sub-title */

.sub-title {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: coral;
}

/* Darken link on hover */
.sub-title a:hover {
    color: darkred;
}

/* Login Page and Signup Page */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;  
    background-color: lightgrey;
}

.login-title {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.login-container {
    width: 400px;
    padding: 50px;
    background-color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
}

.login-form {
    margin-top: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #2980b9;
}

.signup-link {
    text-align: center;
    margin-top: 16px;
}

/* Posts */

.post {
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
